audioread==2.1.8
beautifulsoup4==4.8.2
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cycler==0.10.0
decorator==4.4.1
docopt==0.6.2
future==0.18.2
idna==2.8
imutils==0.5.3
iso8601==0.1.12
joblib==0.14.1
Js2Py==0.67
kiwisolver==1.1.0
librosa==0.7.2
llvmlite==0.31.0
matplotlib==3.1.2
numba==0.47.0
numpy==1.18.1
opencv-python==4.1.2.30
packaging==20.0
Pillow==7.0.0
pipwin==0.4.6
PyAudio==0.2.11
pycparser==2.19
pyjsparser==2.7.1
pyparsing==2.4.6
PyPrind==2.11.2
pyserial==3.4
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3
requests==2.22.0
resampy==0.2.2
robobrowser==0.5.3
scikit-learn==0.22.1
scipy==1.4.1
six==1.13.0
SoundFile==0.10.3.post1
soupsieve==1.9.5
tzlocal==2.0.0
urllib3==1.25.7
Werkzeug==0.16.0
